@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Karla', sans-serif;
    color: #8B573C;
}

h2 {
    font-family: 'Karla', sans-serif; 
    font-weight: 300;
    text-transform: uppercase;
    padding: 40px;
    letter-spacing: 4px;
    color: #43170A;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 260%;
}

#menu {
    float: right;
    font-size: 130%;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px;
    margin-top: 36px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #8B573C;
}

.active {
    border-bottom: 1px solid #8B573C;
}

#hero-image {
    height:600px;
    width: 100%;
    background: url("/assets/images/piano.jpg") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height:600px;
    width: 100%;
    overflow:hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #43170A;
    border-radius: 50px 15px;
    }

#cover-text {
    font-size: 100%;
    font-family: Karla;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(158, 143, 130, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}   

#cover-text h3 {
    text-align: center;
    letter-spacing: 4px;
}
 